.header-container-autoavaliacao {
  display: flex;
  justify-content: left;
  align-items: center;
  background: var(--primaria);
  border-bottom-left-radius: 4.3rem;
  border-bottom-right-radius: 4.3rem;
  margin-bottom: 2rem;
}

.header-container-autoavaliacao h1 {
  font-size: 1.25rem;
  text-align: center;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.header-container-autoavaliacao .botao-voltar {
  position: absolute;
  top: 1.6rem;
}

.conteudo-pags-autoavaliacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-pags-autoavaliacao h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  text-align: center;
  max-width: 300px;
  margin-bottom: 2rem;
}

.p-autoavaliacao {
  max-width: 280px;
  margin-bottom: 1.85rem;
  text-align: center;
  font-size: 0.8125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3rem;
}

table {
  border: 1px solid var(--primariaBordas);
  border-radius: 20px;
  max-width: 320px;
}

td img {
  width: 50px;
  padding: 1rem;
}

td {
  border-bottom: 1px solid var(--primariaBordas);
}

td h3 {
  padding-right: 1rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1375rem;
}

td p {
  padding-right: 2rem;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1rem;
}

.botao-avaliacao {
  border-radius: 1.875rem;
  color: var(--branco);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
  width: 210px;
}

.botao-avaliacao:visited {
  color: var(--branco);
}

.botao-avaliacao:active {
  background: var(--primariaEscura);
}

.botao-sim {
  background: var(--primaria);
  margin-top: 2rem;
}

.botao-nao {
  background: var(--primariaEscura);
  margin-top: 1.25rem;
  margin-bottom: 6.5rem;
}

.sintomas-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.sintomas-buttons button {
  background: none;
  border: 1px solid var(--primariaBordas);
  border-radius: 20px;
  width: 135px;
  height: 135px;
}

.sintomas-buttons h3 {
  color: var(--primariaEscura);
  text-align: center;
  font-family: Mulish;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-inline: 0.5rem;
  padding-bottom: 0.8rem;
}

.sintomas-buttons img {
  width: 50px;
}

.botao-finalizar {
  background: var(--primariaEscura);
  margin-top: 2rem;
  margin-bottom: 7rem;
}
