.pags-autoavaliacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container-autoavaliacao {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background: var(--primaria);
  border-bottom-left-radius: 4.3rem;
  border-bottom-right-radius: 4.3rem;
  margin-bottom: 2rem;
}

.h1-autoavaliacao {
  font-size: 1.25rem;
  text-align: center;
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 700;
  color: var(--branco);
}

.header-container-autoavaliacao .botao-voltar {
  position: absolute;
  top: 1rem;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  text-align: center;
  max-width: 300px;
  margin-block: 2rem;
}

.p-autoavaliacao {
  max-width: 280px;
  margin-bottom: 1.85rem;
  text-align: center;
  font-size: 0.8125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3rem;
}

.tabela-autoavaliacao {
  border: none;
  max-width: 320px;
}

.tabela-autoavaliacao td img {
  width: 50px;
  margin: 1rem;
}

.tabela-autoavaliacao td {
  border-bottom: 1px solid var(--primariaBordas);
}

.tabela-autoavaliacao td h3 {
  padding-right: 1rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1375rem;
}

.tabela-autoavaliacao td p {
  padding-right: 2rem;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1rem;
}

.btns {
  display: flex;
  flex-direction: column;
}

/* .btn-avaliacao {
  border-radius: 1.875rem;
  color: var(--branco);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
  width: 210px;
  background: var(--primaria);
}

.btn-avaliacao:visited {
  color: var(--branco);
}

.btn-avaliacao:active {
  background: var(--primariaEscura);
} */

.btn-sim {
  margin-top: 2rem;
  width: 210px;
}

.btn-nao {
  margin-top: 1.25rem;
  margin-bottom: 6.5rem;
  width: 210px;
}

.sintomas-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.sintomas-buttons label {
  position: relative;
  display: inline-block;
  background: none;
  border: 1px solid var(--primariaBordas);
  border-radius: 20px;
  width: 135px;
  height: 135px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.marcado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input:checked + .marcado {
  background-color: var(--maisClara);
  border-radius: 20px;
  border: none;
  color: var(--textoCor);
}

.sintomas-buttons h3 {
  color: var(--primariaEscura);
  text-align: center;
  font-family: Mulish;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-inline: 1rem;
  padding-bottom: 0.8rem;
}

.btn-escolha {
  padding: 0;
}

.sintomas-buttons img {
  width: 50px;
}

.btn-finalizar {
  width: 210px;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.tela {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.tela.atual {
  position: relative;
  display: flex;
}

.barra-de-carregamento {
  border-radius: 20px;
  height: 8px;
  width: 300px;
  display: block;
  position: relative;
  background: var(--primariaBordas);
}

.barra-de-carregamento .progresso {
  position: absolute;
  border-radius: 20px;
  height: 8px;
  left: 0;
  display: block;
  background: var(--primaria);
}
