.configuracoes .h1-sessoes {
  font-size: 1.25rem;
}

.conteudo-configuracoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-configuracoes .lista-menu {
  margin-top: 2rem;
  margin-bottom: 16.5rem;
}
