@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 0.75rem;
  line-height: 1.2rem;
  background-color: var(--fundoCor);
  color: var(--textoCor);

  --fundoCor: #fff;
  --textoCor: #1a263c;
  --cinza: #f1f1f1;
  --branco: #fff;

  --primaria: #007aff;
  --primariaClara: #b4d8ff;
  --primariaBordas: #b4d8ff;
  --maisClara: #d3e8ff;
  --primariaEscura: #1a263c;
  --secundaria: #0bffa1;
}

.bold {
  font-weight: 700;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  background: var(--fundoCor);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin: 0;
  /* height: 100vh; */
}

form {
  padding: 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}

input {
  width: 304.4px;
  height: 46.4px;
  border-radius: 0.625rem;
  background: var(--branco);
  border: 1px solid var(--primariaBordas);
  padding-left: 0.75rem;
}

label {
  color: var(--primariaEscura);
  font-weight: 700;
  padding-left: 0.75rem;
}

.link-normal {
  color: var(--primariaEscura);
  font-weight: 300;
  text-decoration-line: underline;
}

.link-normal:active {
  color: var(--primaria);
}

.button {
  border-radius: 1.875rem;
  background: var(--primaria);
  color: var(--branco);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
}

.button:visited {
  color: var(--branco);
}

.button:active {
  background: var(--primariaEscura);
}

.logo-rodape img {
  height: 20px;
  width: auto;
  opacity: 0.5;
  padding: 0 0.625rem 1.5rem 0.625rem;
}

/* HEADER FUNDO AZUL */
.header-container {
  background-color: var(--primaria);
  border-bottom-left-radius: 4.3rem;
  border-bottom-right-radius: 4.3rem;
  margin-bottom: 2rem;
}
/* FIM HEADER FUNDO AZUL */

/* CARDS 1 COLUNA */

.card-1col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 133px;
  height: 133px;
  border-radius: 1.25rem;
  border: 1px solid var(--primariaClara);
}

.card-1col h2 {
  padding: 0 0.8rem 0.6rem 0.8rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  color: var(--textoCor);
}

.card-1col img {
  height: 60px;
  width: auto;
}

/* FIM CARD 1 COLUNA */

/* CARD 2 COLUNAS */

.card-2col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 298px;
  height: 148px;
  border-radius: 1.25rem;
  border: 1px solid var(--primariaClara);
}

.card-2col h2 {
  display: flex;
  position: relative;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  color: var(--textoCor);
}

.card-2col p {
  font-size: 0.75rem;
  font-weight: 300;
  text-align: left;
  color: var(--textoCor);
}

.card-2col img {
  height: 65px;
  width: auto;
}

.card-2col h2::before {
  content: "";
  width: 165px;
  height: 1px;
  background: var(--primariaClara);
  position: absolute;
  bottom: 0.7rem;
}

/* FIM CARD 2 COLUNAS */

.protecta-logo-rodape {
  width: 34px;
  margin-bottom: 7rem;
}

/* MENU FIXO */
.menu-fixo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  gap: 4rem;
  width: 320px;
  height: 55px;
  background: var(--primaria);
  border-radius: 3.75rem;
}

.menu-fixo img {
  height: 1rem;
  width: auto;
}

/* RODAPE */
.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape p {
  font-size: 0.6875rem;
  font-weight: 300;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.botao-voltar {
  width: 24px;
  margin: 1.3rem auto 0.9rem 1.6rem;
}

a:visited {
  color: var(--primariaEscura);
}
