@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  background-color: var(--fundoCor);
  color: var(--textoCor);

  --fundoCor: #fff;
  --textoCor: #1a263c;
  --cinza: #f1f1f1;

  --primaria: #007aff;
  --opacidade: #d3e8ff;
  --secundaria: #0bffa1;
  --terciaria: #1a263c;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  background: var(--opacidade);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin: 0;
  /* height: 100vh; */
}

form {
  padding: 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}

input {
  width: 320px;
  height: 50px;
  border-radius: 0.625rem;
  border-style: none;
  background: #fff;
  padding-left: 0.75rem;
}

label {
  color: var(--terciaria);
  font-weight: 700;
  padding-left: 0.75rem;
}

.link-normal {
  color: var(--terciaria);
  font-weight: 300;
  text-decoration-line: underline;
}

.link-normal:active {
  color: var(--primaria);
}

.button {
  border-radius: 1.875rem;
  background: var(--primaria);
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
}

.button:active {
  background: var(--terciaria);
}

.logo-rodape img {
  height: 20px;
  width: auto;
  padding: 0 0.625rem 1.5rem 0.625rem;
}
