.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--primaria);
}

.logo-login {
  margin: 3.125rem auto 1.5rem auto;
}

.logo-login img {
  width: 165px;
}

.conteudo-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-login h2 {
  color: var(--primariaEscura);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}

.img-login {
  width: 190px;
  margin-bottom: 1.6rem;
}

.conteudo-login .button {
  width: 320px;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.conteudo-login p {
  margin-bottom: 2rem;
}

.form-login input {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}
