.sessoes {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sessoes .header-container {
  background: var(--maisClara);
  margin-bottom: 2rem;
}

.h1-sessoes {
  color: var(--primariaEscura);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.conteudo-sessoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.conteudo-sessoes-p {
  grid-column: span 2;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin: 0 1.25rem 4rem 1.25rem;
}

.conteudo-sessoes-img {
  width: 320px;
}

.img-ret {
  width: 230px;
}

.img-quad {
  height: 155px;
}

/* BOX 1 COLUNA */

.box-1col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 155px;
  height: 175px;
  border-radius: 1.25rem;
  background: var(--maisClara);
}

.box-1col img {
  height: 80px;
  margin-bottom: 0.5rem;
}

.box-1col h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* FIM BOX 1 COLUNA */

/* BOX 2 COLUNAS */

.box-2col {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 10px;
  background-color: var(--maisClara);
}

.box-2col h2 {
  text-align: left;
  margin: 2rem 2rem -0.75rem 2rem;
  position: relative;
}

.box-2col h2::before {
  content: "";
  width: 260px;
  height: 1px;
  background: var(--primariaClara);
  position: absolute;
  top: 1.6rem;
}

.box-2col p {
  margin: 2rem 2rem 2rem 2rem;
  text-align: left;
  line-height: 1.2rem;
}

.box-2col li {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: left;
  line-height: 1.2rem;
  font-weight: 300;
}

.box-2col img {
  margin: 2rem auto 0 auto;
}

.box-2col .h2-lista {
  font-size: 1rem;
  margin: 2rem auto 1rem auto;
  text-align: center;
  font-weight: 500;
}

/* FIM BOX 2 COLUNAS */

.grid-sessoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.faca-autoavaliacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.faca-autoavaliacao h2 {
  color: var(--primariaEscura);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.faca-autoavaliacao p {
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.faca-autoavaliacao .button {
  width: 210px;
  margin-bottom: 2rem;
}

.faca-autoavaliacao .conteudo-sessoes-img {
  margin-bottom: -2rem;
}

li::marker {
  font-weight: 800;
}
